html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
@font-face {
  font-family: "阿里妈妈东方大楷 Regular";font-weight: 400;src: url("../assets//Alimama_DongFangDaKai_Regular.woff2") format("woff2"),
  url("../assets/Alimama_DongFangDaKai_Regular.woff") format("woff");
  font-display: swap;
}
 .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }